table.publication {
    border-top: 1px dashed #333;
    padding-top: 2px;
}

.publication tr {
    background-color: #161616;
}

.publication td {
    padding: 10px;
}

.tab_date {
    font: 11px 'QuicksandBook', Arial, sans-serif;
    color: #cc3333;
}

.tab_desc {
    font: 12px 'QuicksandBook', Arial, sans-serif;
}

.tab_dl {
    font: 12px 'QuicksandBook', Arial, sans-serif;
    text-align: right;
}

.tab_dl a {
    color: #cc3333;
}

h2 {
    font: 24px "QuicksandBook", "open sans", Arial, sans-serif;
    margin: 0;
    color: #fff;
}

.entry-header {
    padding: 40px 5px 12px 10px;
    box-sizing: content-box;
    background-color: #181818;
}

.download-brochure {
    padding-bottom: 8px;
    font: 13px 'QuicksandBook', Arial, sans-serif;
    text-align: right;
}

.download-brochure a {
    color: #cc3333;
}